pyrogram
pyromod
requests
pytesseract
Pillow
tgcrypto
ffmpeg
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
pymongo[srv]==3.12.3
coloredlogs
watchdog
Werkzeug==2.2.2
pydub
audioread
pypdfium2==2.8.0
pypdf
PDFNetPython3
PyPDF2
yt-dlp
youtube-transcript-api
httplib2
oauth2client
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
tika

